@model IEnumerable<CarPro.Models.Lot>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div class="col-md-12" style="background-color: #F5F8FA;">
    <h3 class="title-5 m-b-35">Available Cars</h3>
    <div class="table-responsive table-responsive-data2">
        <table class="table table-data2">
            <thead>
                <tr>
                    <th>
                        <div class="row">
                            <div class="col-4">
                                Name
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=MakeAscending">&#8681;</a></p>
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=MakeDescending">&#8679;</a></p>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                            <div class="col-4">
                                ZipCode
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=ModelAscending">&#8681;</a></p>
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=ModelDescending">&#8679;</a></p>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                            <div class="col-4">
                                Phone Number
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=ModelYearAscending">&#8681;</a></p>
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=ModelYearDescending">&#8679;</a></p>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                            <div class="col-4">
                                Manager Name
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=MileageAscending">&#8681;</a></p>
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=MileageDescending">&#8679;</a></p>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="tr-shadow">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <span class="block-email">
                                @Html.DisplayFor(modelItem => item.ZipCode)
                            </span>
                        </td>
                        <td class="desc">
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ManagerName)
                        </td>
                    </tr>
                    <tr class="spacer"></tr>
                }
            </tbody>
        </table>
    </div>
</div>


@*<td>
    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
</td>*@



<a asp-action="Create">
    <button class="btn btn-primary mt-3">Create</button>
</a>