@model IEnumerable<CarPro.Models.Car>

@{
    ViewData["Title"] = "Index";
}


<div class="col-md-12" style="background-color: #F5F8FA;">
    <h3 class="title-5 m-b-35">Available Cars</h3>
    <div class="table-responsive table-responsive-data2">
        <table class="table table-data2">
            <thead>
                <tr>
                    <th>
                        <div class="row">
                            <div class="col-4">
                                Make
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=MakeAscending">&#8681;</a></p>
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=MakeDescending">&#8679;</a></p>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                            <div class="col-4">
                                Model
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=ModelAscending">&#8681;</a></p>
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=ModelDescending">&#8679;</a></p>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                            <div class="col-4">
                                Year
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=ModelYearAscending">&#8681;</a></p>
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=ModelYearDescending">&#8679;</a></p>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                            <div class="col-4">
                                Miles
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=MileageAscending">&#8681;</a></p>
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=MileageDescending">&#8679;</a></p>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                            <div class="col-4">
                                Price
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=PriceAscending">&#8681;</a></p>
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=PriceDescending">&#8679;</a></p>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                            <div class="col-4">
                                Color
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=ColorAscending">&#8681;</a></p>
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=ColorDescending">&#8679;</a></p>
                            </div>
                         </div>
                    </th>
                    <th>
                        <div class="row">
                            <div class="col-4">
                                WD
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=DriveTrainAscending">&#8681;</a></p>
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=DriveTrainDescending">&#8679;</a></p>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="row">
                            <div class="col-4">
                                Lot
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=LotAscending">&#8681;</a></p>
                            </div>
                            <div class="col-1">
                                <p><a href="Cars?sortOrder=LotDescending">&#8679;</a></p>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="tr-shadow">
                        <td>
                            @Html.DisplayFor(modelItem => item.Make)
                        </td>
                        <td>
                            <span class="block-email">
                                @Html.DisplayFor(modelItem => item.Model)
                            </span>
                        </td>
                        <td class="desc">
                            @Html.DisplayFor(modelItem => item.ModelYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mileage)
                        </td>
                        <td>
                            <span class="status--process">
                                $@Html.DisplayFor(modelItem => item.Price)
                            </span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DriveTrain)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lot.Name)
                        </td>
                    </tr>
                    <tr class="spacer"></tr>
                }
            </tbody>
        </table>
    </div>
</div>

<a asp-action="Create">
    <button class="btn btn-primary mt-3">Create</button>
</a>

